@import "tailwindcss";
@keyframes shrink {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
